services:
  spark-master:
    build: ./docker
    container_name: spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_MASTER_URL=spark://spark-master:7077
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_ENDPOINT=${MINIO_ENDPOINT}
    ports:
      - "8081:8080" # Web UI
      - "7077:7077" # Spark master port
    volumes:
      - ./data:/data
    networks:
      - spark-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 5s
      timeout: 3s
      retries: 10

  spark-worker-1:
    build: ./docker
    container_name: spark-worker-1
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=2G
      - SPARK_WORKER_CORES=2
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    deploy:
      resources:
        limits:
          memory: 2G
    volumes:
      - ./data:/data
    networks:
      - spark-network

  spark-worker-2:
    build: ./docker
    container_name: spark-worker-2
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=2G
      - SPARK_WORKER_CORES=2
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    deploy:
      resources:
        limits:
          memory: 2G
    volumes:
      - ./data:/data
    networks:
      - spark-network

  # MinIO (S3-compatible storage)
  minio:
    hostname: minio
    container_name: minio
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - ./minio-data:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    networks:
      - spark-network

  # PostgreSQL (Data Warehouse)
  postgres-dw:
    image: postgres:15
    container_name: postgres-dw
    hostname: postgres-dw
    environment:
      POSTGRES_USER: user_dw
      POSTGRES_PASSWORD: password_dw
      POSTGRES_DB: nyc_data_warehouse
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      # Initialisation automatique
      - ./creation.sql:/docker-entrypoint-initdb.d/1-creation.sql
      - ./insertion.sql:/docker-entrypoint-initdb.d/2-insertion.sql
    networks:
      - spark-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user_dw -d nyc_data_warehouse"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Interface graphique pour PostgreSQL (pgAdmin)
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "5050:80"
    networks:
      - spark-network

  dashboard:
    build: ./ex04_dashboard/dashboard
    container_name: dashboard_nyc
    ports:
      - "8501:8501"
    volumes:
      - ./ex04_dashboard/dashboard:/app
    networks:
      - spark-network
    depends_on:
      - postgres-dw

networks:
  spark-network:
    driver: bridge